*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
  padding: 0 100px 0 100px;
}

* {
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-family: "DM Sans";
}

input {
  font-family: "lato";
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 42px 0 17px 0;
}

header h1 {
  font-size: 36px;
  color: #d04f4f;
  font-weight: 700;
}

.mainsearch {
  position: relative;
  margin-bottom: 25px;
  display: flex;
}

.mainsearch__research-bar {
  width: 100%;
  height: 69px;
  border-radius: 5px;
  background-color: #e7e7e7;
  border: none;
  font-size: 18px;
  padding-left: 22px;
}

.mainsearch__research-label {
  padding-top: 17.5px;
  position: absolute;
  right: 16.5px;
}

.tag-bar {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.tag-bar__Ingredient-tag {
  background-color: #3282f7;
  color: #ffffff;
  font-family: "lato";
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 55px 10.5px 20px;
  position: relative;
}
.tag-bar__Ingredient-tag__cancel-tag {
  border: none;
  position: absolute;
  right: 22px;
  background-color: #3282f7;
}

.tag-bar__Device-tag {
  background-color: #68d9a4;
  color: #ffffff;
  font-family: "lato";
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 55px 10.5px 20px;
  position: relative;
}
.tag-bar__Device-tag__cancel-tag {
  border: none;
  position: absolute;
  right: 22px;
  background-color: #68d9a4;
}

.tag-bar__Ustensils-tag {
  background-color: #ed6454;
  color: #ffffff;
  font-family: "lato";
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 55px 10.5px 20px;
  position: relative;
}
.tag-bar__Ustensils-tag__cancel-tag {
  border: none;
  position: absolute;
  right: 22px;
  background-color: #ed6454;
}

.secondarysearch {
  margin-top: 15px;
  display: flex;
  height: 75px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.combox-ingredient {
  background-color: #3282f7;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  font-family: "lato";
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 99;
}
.combox-ingredient__combobox {
  width: 100%;
}
.combox-ingredient__combobox__combobox-searchfield {
  position: relative;
}
.combox-ingredient__combobox__combobox-searchfield__label {
  margin: 0 25px 0 15px;
  cursor: text;
}
.combox-ingredient__combobox__combobox-searchfield__arrowdown {
  position: absolute;
  top: 5px;
  right: 18px;
}
.combox-ingredient__combobox__list {
  margin-top: 23px;
  display: none;
  flex-direction: column;
  flex-flow: wrap;
  row-gap: 10px;
  -moz-column-gap: 86px;
       column-gap: 86px;
  padding: 0 19px 16px 19px;
}
.combox-ingredient__combobox__list li {
  width: 150px;
}

#ingredient {
  background-color: #3282f7;
  font-family: "lato";
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  display: none;
  margin: 0 25px 0 15px;
  width: 65%;
  border: none;
  outline: none;
}

#ingredient::-moz-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

#ingredient:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

#ingredient::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.combox-device {
  background-color: #68d9a4;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  font-family: "lato";
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 99;
}
.combox-device__combobox {
  width: 100%;
}
.combox-device__combobox__combobox-searchfield {
  position: relative;
}
.combox-device__combobox__combobox-searchfield__label {
  margin: 0 25px 0 15px;
  cursor: text;
}
.combox-device__combobox__combobox-searchfield__arrowdown {
  position: absolute;
  top: 5px;
  right: 18px;
}
.combox-device__combobox__list {
  margin-top: 23px;
  display: none;
  flex-direction: column;
  flex-flow: wrap;
  row-gap: 10px;
  -moz-column-gap: 86px;
       column-gap: 86px;
  padding: 0 19px 16px 19px;
}
.combox-device__combobox__list li {
  width: 150px;
}

#device {
  background-color: #68d9a4;
  font-family: "lato";
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  display: none;
  margin: 0 25px 0 15px;
  width: 65%;
  border: none;
  outline: none;
}

#device::-moz-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

#device:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

#device::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.combox-ustensils {
  background-color: #ed6454;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  font-family: "lato";
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 99;
}
.combox-ustensils__combobox {
  width: 100%;
}
.combox-ustensils__combobox__combobox-searchfield {
  position: relative;
}
.combox-ustensils__combobox__combobox-searchfield__label {
  margin: 0 25px 0 15px;
  cursor: text;
}
.combox-ustensils__combobox__combobox-searchfield__arrowdown {
  position: absolute;
  top: 5px;
  right: 18px;
}
.combox-ustensils__combobox__list {
  margin-top: 23px;
  display: none;
  flex-direction: column;
  flex-flow: wrap;
  row-gap: 10px;
  -moz-column-gap: 86px;
       column-gap: 86px;
  padding: 0 19px 16px 19px;
}
.combox-ustensils__combobox__list li {
  width: 150px;
}

#ustensils {
  background-color: #ed6454;
  font-family: "lato";
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  display: none;
  margin: 0 25px 0 15px;
  width: 65%;
  border: none;
  outline: none;
}

#ustensils::-moz-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

#ustensils:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

#ustensils::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.displayrecipe {
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 50px;
}

.displayrecipe__recipecard {
  width: 30.64%;
  height: 364px;
}
.displayrecipe__recipecard__img {
  height: 178px;
  background-color: #c7bebe;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.displayrecipe__recipecard__description {
  height: 186px;
  background-color: #e7e7e7;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: "lato";
  font-size: 18px;
}
.displayrecipe__recipecard__description__main {
  height: 62px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.displayrecipe__recipecard__description__main__timer {
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
  font-weight: 700;
}
.displayrecipe__recipecard__description__second {
  font-size: 12px;
  display: flex;
  padding: 0 18px 19px 20px;
}
.displayrecipe__recipecard__description__second__ingredient {
  width: 50%;
}
.displayrecipe__recipecard__description__second__ingredient span {
  font-weight: 700;
}
.displayrecipe__recipecard__description__second__cooking {
  font-family: "roboto";
  width: 50%;
}/*# sourceMappingURL=main.css.map */