.noresult {
  font-family: lato;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  border: 5px solid $color-title;
  border-radius: $radius-box;
  padding: 5px 0 5px 0;
  display: none;
}
