.secondarysearch {
  margin-top: 15px;
  display: flex;
  height: 75px;
  column-gap: 20px;

  @include tablet {
    flex-direction: column;
    height: 225px;
    align-items: center;
    gap: 20px;
  }
}
