.mainsearch__research-bar {
  width: 100%;
  height: 69px;
  border-radius: $radius-box;
  background-color: $color-search-bar;
  border: none;
  font-size: 18px;
  padding-left: 22px;
}
.mainsearch__research-label {
  padding-top: 17.5px;
  position: absolute;
  right: 16.5px;
}
