.combox-ingredient {
  background-color: $color-ingredient;
  @include combobox;

  &__combobox {
    width: 100%;
    &__combobox-searchfield {
      position: relative;

      &__label {
        margin: 0 25px 0 15px;
        cursor: text;
      }
      &__arrowdown {
        position: absolute;
        top: 5px;
        right: 18px;
      }
    }
    &__list {
      @include list;
    }
    &__list li {
      width: 150px;
      display: block;
    }
  }
}

#ingredient {
  background-color: $color-ingredient;
  @include input;
}
#ingredient::placeholder {
  color: $color-tag-font;
  opacity: 0.5;
}

.combox-device {
  background-color: $color-device;
  @include combobox;
  &__combobox {
    width: 100%;
    &__combobox-searchfield {
      position: relative;
      &__label {
        margin: 0 25px 0 15px;
        cursor: text;
      }
      &__arrowdown {
        position: absolute;
        top: 5px;
        right: 18px;
      }
    }
    &__list {
      @include list;
    }
    &__list li {
      width: 150px;
    }
  }
}
#device {
  background-color: $color-device;
  @include input;
}

#device::placeholder {
  color: $color-tag-font;
  opacity: 0.5;
}

.combox-ustensils {
  background-color: $color-ustensils;
  @include combobox;
  &__combobox {
    width: 100%;

    &__combobox-searchfield {
      position: relative;
      &__label {
        margin: 0 25px 0 15px;
        cursor: text;
      }
      &__arrowdown {
        position: absolute;
        top: 5px;
        right: 18px;
      }
    }
    &__list {
      @include list;
    }
    &__list li {
      width: 150px;
    }
  }
}
#ustensils {
  background-color: $color-ustensils;
  @include input;
}
#ustensils::placeholder {
  color: $color-tag-font;
  opacity: 0.5;
}
