.tag-bar__ingredient-tag {
  background-color: $color-ingredient;
  @include tag;
  &__cancel-tag {
    @include cancel-tag;
    background-color: $color-ingredient;
  }
}
.tag-bar__device-tag {
  background-color: $color-device;
  @include tag;
  &__cancel-tag {
    @include cancel-tag;
    background-color: $color-device;
  }
}

.tag-bar__ustensils-tag {
  background-color: $color-ustensils;
  @include tag;
  &__cancel-tag {
    @include cancel-tag;
    background-color: $color-ustensils;
  }
}
