@mixin tag {
  color: $color-tag-font;
  font-family: "lato";
  border-radius: $radius-box;
  font-size: $size-tag-font;
  font-weight: $weight-tag-font;
  padding: 10px 55px 10.5px 20px;
  position: relative;
  // display: none;
  cursor: pointer;
}

@mixin cancel-tag {
  border: none;
  position: absolute;
  right: 22px;
  cursor: pointer;
}

@mixin combobox {
  width: 170px;
  height: 69px;
  border-radius: $radius-box;
  font-family: "lato";
  color: $color-tag-font;
  font-size: $size-searchtag-font;
  font-weight: $weight-tag-font;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 99;
}

@mixin input {
  font-family: "lato";
  color: $color-tag-font;
  font-size: $size-searchtag-font;
  font-weight: $weight-tag-font;
  display: none;
  margin: 0 25px 0 15px;
  width: 65%;
  border: none;
  outline: none;
}

@mixin list {
  height: 328px;
  margin-top: 23px;
  display: none;
  flex-direction: row;
  flex-flow: wrap;
  row-gap: 10px;
  column-gap: 70px;
  padding: 0 19px 16px 19px;
  overflow-y: scroll;
}
