$color-title: #d04f4f;
$color-search-bar: #e7e7e7;
$color-ingredient: #3282f7;
$color-device: #68d9a4;
$color-ustensils: #ed6454;
$color-tag-font: #ffffff;

$size-tag-font: 14px;
$weight-tag-font: 700;

$radius-box: 5px;
